@import "./variables";
@import "./animations";
@import "./home";
@import "./about";
@import "./header";
@import "./footer";


*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color:$color-fondo;
    height: 15vh;
    padding: 20px;   
    text-align: center;
    h1{
        color: $color-principal;
        font-size: $fuente-grande;
    }
    h2{
        color: $color-blanco;
        font-size: $fuente-mediana;
        font-weight: lighter;
    }
}

main{
    padding-left: 200px;
    padding-right: 200px;
    height: 80vh;
    background-color: $color-blanco;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 99999px;
}

button{
    width: 150;
    font-size: $fuente-chica;
    background-color: $color-fondo;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px; 
    cursor: pointer;  
}

button:hover{
    background-color: $color-hover;
}

footer{
    height: 5vh;
    background-color:$color-fondo;
    font-size: $fuente-chica;
    display: flex;
    p{
        font-size: $fuente-chica;
        font-weight: bold;
        padding: 20px;
    }
   
}

#contacto{
    display: flex;
}